@{
    ViewData["Title"] = "Stock Chatbot";
}


<div class="row justify-content-center" id="messagesContainer">

</div>

<partial name="_SendMessagePartial" />

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>


