<div class="row justify-content-center">
    <div class="row col-10">
        <div class="col-8">
            <div class="bg-light rounded border-success">
                <p class="p-2">No messages found</p>
                <p class="p-2">Start sending a new message!</p>
            </div>
        </div>
    </div>
</div>