<div class="row justify-content-center">
    <div class="col-10">
        <form method="post" asp-controller="Home" asp-action="SendMessage">
            <div class="input-group mb-3">
                <label for="stockCode"></label>
                <input id="stockCode" name="stockCode" type="text" class="form-control" placeholder="Enter the stock code here" aria-label="Stock code" aria-describedby="button-addon2">
                <button id="sendButton" class="btn btn-outline-secondary disabled" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>